<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <title>Bütün Tələbələr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h2>Bütün Tələbələr</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
            <div class="courseList text-center w-100 mt-5" id="courseListId">
                <h4 th:text="*{existCourses}" class="text-danger pb-2"></h4>
                <div th:each="student: ${students}" class="mt-1">
                    <p class="d-inline" th:text="${student.Id+' '+student.firstName+' '+student.lastName}">0</p>
                    <a class="btn btn-sm btn-danger ml-2" th:text="'Sil'" th:href="@{'/student/deleteStudent?id=' + ${student.id}}">Sil</a>
                    <a class="btn btn-sm btn-danger ml-2" th:text="'Redakte Et'" th:href="@{'/student/getStudent?id=' + ${student.id}}">Redakte Et</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center mt-2">
            <a class="btn btn-sm btn-success " href="/student/studenPage">Tələbə Əlavə Et</a>
            <a href="/student/index" class="btn btn-success btn-sm ml-2" type="submit">Əsas səhifə</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>