<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <title>Tələbə Ad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
            <div class="w-50">
                <form action="/course/updateSubmit" th:object="${singleCourse}" method="POST" class="w-100">
                    <div th:if="${#fields.hasErrors('*')}">
                        <p>Tələblərə riyayyət edin!!</p>
                    </div>
                    <label for="studentIdInputId">Kursun Kodu</label>
                    <input id="studentIdInputId" name="id"  type="text" class="form-control" th:field="*{id}">
                    <span  th:if="${#fields.hasErrors('id')}">
                        <ul>
<!--                        <li th:each="err : ${#fields.errors('Id')}" th:text="${err}"></li>-->
                         <li th:each="err : ${#fields.errors('id')}" th:text="${err}"></li>
                        </ul>
                     </span>
                    <label for="studentNameInputId">Kursun Adı</label>
                    <input id="studentNameInputId" name="courseName" type="text" class="form-control" th:field="*{courseName}">
                    <span  th:if="${#fields.hasErrors('courseName')}">
                        <ul>
<!--                        <li th:each="err : ${#fields.errors('Id')}" th:text="${err}"></li>-->
                         <li th:each="err : ${#fields.errors('courseName')}" th:text="${err}"></li>
                        </ul>
                     </span>
                    <button class="btn btn-sm btn-success mt-2" type="submit">Təstiqlə</button>
                    <a href="/course/courseList" class="btn btn-success btn-sm mt-2 ml-2">Bütün Kurslar</a>
                    <a href="/student/index" class="btn btn-success btn-sm mt-2" type="submit">Əsas səhifə</a>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>